<div class="items-list">
    <div class="inner">
        <header>
            <h3>{{ 'Novedades' | trans }}</h3>
        </header>
        <div id="alertNews" class="alert alert-info" style="display:none">
            <span>No se encontraron novedades para esta busqueda.</span>
        </div>
        <ul class="results list">
            <img class='imgloading' id="mapLoader" src='{{ asset('bundles/app/img/loading.gif') }}' alt='Cargando...' />
        </ul>
    </div>
    <!--results-->
</div>