<div class="modal fade" id="producer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="toggle-navigation" style="float: right;">
                    <div class="icon" data-dismiss="modal">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <h4 class="modal-title">{{ 'Producer' | trans }}</h4>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">	<a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>

            </div>
        </div>
    </div>
</div>