<div id="productive_undertaking" class="col-md-6 type" style="display:none;">
    <div class="card">
        <div class="card-header">
            {{ 'Productive Undertaking' | trans }}
        </div>
        <div class="card-block">
            content
        </div>
    </div>
</div>