<div id="promotion_group" class="col-md-6 type" style="display:none;">
    <div class="card">
        <div class="card-header">
            {{ 'Promotion Group' | trans }}
        </div>
        <div class="card-block">
            content
        </div>
    </div>
</div>