{% extends 'base.html.twig' %}

{% block bodyClass %}page-subpage page-blog-detail navigation-off-canvas{% endblock %}

{% block content %}        
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                    <h2 class="text-center">REGISTRO PRÁCTICAS EN TRANSICIÓN, DE INTENSIFICACIÓN ECOLÓGICA Y AGROECOLÓGICAS</h2>
                                    <br>
                                    <strong>¿Qué es?</strong>
                                    <br><br>
                                    El Registro de Prácticas en transición, de intensificación ecológica y agro-ecología es una plataforma web de búsqueda e intercambio de experiencias vinculadas a las actividades agropecuarias y de producción de alimentos, sean privadas o públicas, profesionales o institucionales, cuyo objetivo y actividad apunte a la generación de alternativas a los modos de producción convencional, por medio de la innovación y mejora tecnológica u organizativa con justicia ambiental, equidad social y política y viabilidad económica, y que aporten a la seguridad y soberanía alimentaria.
                                    <br><br>
                                    Cuando te registras comienzas a ser visible en el mapa y el público puede ponerse en contacto o conocer más en profundidad la información que subas.
                                    <br><br>
                                    <strong>¿Qué se busca?</strong>
                                    <br><br>
                                    El registro tiene por finalidad la identificación, sistematización, mapeo y difusión de experiencias diversas que estén en marcha y contribuyan al objetivo enunciado. Se entiende por experiencia una amplia gama de actividades o proyectos: pueden ser emprendimientos productivos, sistemas de comercialización, proyectos, asesoramientos tecnológicos, capacitaciones formales o informales, mejora de la salud y calidad de vida de productores y consumidores,  etc. 
                                    Sostenemos que cuanto más visibles sean las experiencias y mejor comunicadas estés, aumentan las posibilidades de cooperación entre ellas, fortalecimiento de los grupos, difusión de resultados y generación de sinergias e innovaciones que dinamicen procesos similares o complementarios.
                                    <br><br>
                                    <strong>¿Cómo funciona?</strong>
                                    <br><br>
                                    Para formar parte del Registro la persona o grupo interesado tiene que registrarse con sus datos básicos, esperar la recepción de un e-mail de confirmación y luego iniciar sesión. Ya en su página de usuario podrá cargar los datos de una o más experiencias, las cuales se encuentran diferenciadas en cinco categorías; (1) emprendimientos productivos, (2) espacios de comercialización, (3) servicios profesionales, (4) proyectos institucionales y (5) grupos de promoción. Adicionalmente existe un área donde los usuarios podrán compartir actualizaciones y actividades recientes.
                                    <br><br>
                                    <strong>¿Quiénes somos?</strong>
                                    <br><br>
                                    Este Registro de Prácticas junto a la Red PERIURBAN es una idea que surge del O-AUPA (Observatorio de Agricultura Urbana, Periurbana y Agroecología) que funciona en la Agencia del INTA Córdoba. El observatorio es, en sí mismo, una red colaborativa de investigadores y extensionistas de INTA, diversas facultades de la Universidad Nacional de Córdoba, otras administraciones públicas de Córdoba y la Nación, CONICET, productores y asociaciones. El O-AUPA forma parte también del Programa Pro Huerta (INTA-MDS), del Programa Nacional de RRNN, gestión ambiental y Ecoregiones y funciona en red con diversas provincias del país donde se trabajan temas de ordenamiento territorial, ambiente y periurbanos.
                                    <br><br>
                                    La filosofía y la motivación que nos impulsa sostiene que la colaboración y la co-construcción de conocimientos son las estrategias más eficientes, democráticas y horizontales para avanzar en entender los problemas y encontrar soluciones sustentables para los mayores desafíos sociales, ambientales, económicos, políticos, alimentarios y tecnológicos que enfrentan las ciudades en el siglo XXI.
                                    <br><br>
                                    Esta Web no tiene propietarios y se pretende sea una herramienta auto gestionada por la comunidad que se incorpore a la red.
                                    <br><br>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block footer %}
    {% embed ':homepage/_partial:footer-bottom.html.twig'%}{% endembed %}
{% endblock %}

{% block extra_css %}
    <style>
        #page-footer .inner {
            padding-top: 0px;
        }
        #page-footer .inner .footer-bottom {
            margin-top: 0px;
        }
    </style>
{% endblock %}

