<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="redefine-search">
            <a href="{{ path('searchback') }}" class="inner" aria-controls="redefine-search-form">
                <span class="icon"></span>
                <span>{{ 'Redefine Search' | trans }}</span>
            </a>
        </div>
        <ol class="breadcrumb">            
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="#">{% block breadcrumb %}{% endblock %}</a></li>
            <li class="active">{{ 'Detail' | trans }}</li>
        </ol>
    </div>
</div>