<div class="footer-bottom">
    <div class="container">
        <span class="left">2017 (C) INTA, {{ 'All rights reserved' | trans }}</span>
        <span class="right">
            <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
        </span>
    </div>
</div>