<div class="footer-bottom">
    <div class="container">
        <span class="left"></span>
        <span class="right">
            <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
        </span>
    </div>
</div>