<div class="brand">
    <a href="{{ path('homepage') }}"> <strong>Red Periurban</strong></a>    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
</div>