<nav class="navigation-items">
    <div class="wrapper">
        <ul class="main-navigation navigation-top-header"></ul>
        <ul class="user-area">
            <li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
            <li><a href="{{ path('user_new') }}"><strong>Register</strong></a></li>
        </ul>
        <div class="toggle-navigation">
            <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</nav>