<img src="{{ asset('bundles/app/img/header/periurbano_min.jpg') }}" align="left" height="95" width="110" alt="Red Periurban" />
<div class="brand">    
    &nbsp;&nbsp;
        <a href="{{ path('homepage') }}"> <strong>Red Periurban</strong></a>    
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>
