<div>
    <img src="{{ asset('bundles/app/img/header/periurbano_min.png') }}" align="left" height="100" width="130" alt="Red Periurban" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{{ asset('bundles/app/img/header/oaupa_min.png') }}" align="left" height="100" width="160" alt="O-AUPA" />    
</div>
&nbsp;&nbsp;
<div class="brand">
        <a href="{{ path('homepage') }}"> <strong>Red Periurban</strong></a>    
        Registro de investigadores/as, Técnicos/as que trabajan en temáticas del periurbano y
        <br>
        Registro de prácticas en transición, intensificación ecológica y agro-ecología.
        </div>
        
