<div class="row setup-content" id="step-3">
    <div class="col-md-10 col-sm-offset-1 col-centered">
        <div class="col-md-12">
             <h3 class="fs-title">Áreas de conocimiento</h3>
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="knowledge_area">Área de conocimiento</label>
                        <div class="col-md-8">
                            <select class="form-control" name="knowledge_area" id="knowledge_area" required>
                                <option value="0">Seleccionar Área</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="display:none" class="col-md-4 form-control-label" for="knowledge" id="knowledge_label">Conocimiento</label>
                        <div class="col-md-8">
                            <select style="display:none" class="form-control" name="knowledge" id="knowledge" required>
                                <option value="">Seleccionar Conocimiento</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary nextBtn pull-right" type="button" >Siguiente</button>
        </div>
    </div>
</div>
