<fieldset>
    <h2 class="fs-title">Study Topic</h2>
    <h3 class="fs-subtitle">Step 4</h3>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="topic_category">Topic Category</label>
                <div class="col-md-9">
                    <select class="form-control" name="topic_category" id="topic_category">
                        <option value="0">Select Topic Category</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label style="display:none" class="col-md-3 form-control-label" for="study_topic" id="study_topic_label">Study Topic</label>
                <div class="col-md-9">
                    <select style="display:none" class="form-control" name="study_topic" id="study_topic">
                        <option value="">Select Study Topic</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>