
<div class="row setup-content" id="step-4">
    <div class="col-md-10 col-sm-offset-1 col-centered">
        <div class="col-md-12">
            <h3 class="fs-title">Tema de estudio</h3>
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="topic_category">Categoría de tema</label>
                        <div class="col-md-8">
                            <select class="form-control" name="topic_category" id="topic_category" required>
                                <option value="0">Seleccionar la categoría</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="display:none" class="col-md-4 form-control-label" for="study_topic" id="study_topic_label">Tema de estudio</label>
                        <div class="col-md-8">
                            <select style="display:none" class="form-control" name="study_topic" id="study_topic" required>
                                <option value="">Seleccionar tema de estudio</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary nextBtn pull-right" type="button" >Siguiente</button>
        </div>
    </div>
</div>
