{% extends ':admin:base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ title }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% if title == 'Users' | trans %}
            {% include ':report/list:user.html.twig' %}
        {% elseif title == 'News' | trans %}
            {% include ':report/list:news.html.twig' %}
        {% endif %}
    </div>
{% endblock %}