<div class="row setup-content" id="step-2">
    <div class="col-md-10 col-sm-offset-1 col-centered">
        <br>
        <div class="row">        
            <div class="col-md-12">
                <h3 class="fs-title">{{ 'Practice Type' | trans }}</h3>
                <div class="col-md-12">

                    {% include ':agroindustrial_practice/type:productive_undertaking.html.twig' %}
                    {% include ':agroindustrial_practice/type:marketing_spaces.html.twig' %}
                    {% include ':agroindustrial_practice/type:professional_services.html.twig' %}
                    {% include ':agroindustrial_practice/type:institutional_projects.html.twig' %}
                    {% include ':agroindustrial_practice/type:promotion_group.html.twig' %}

                </div>
            </div>
        </div>
        <button class="btn btn-primary nextBtn pull-right" type="button" >{{ 'Next' | trans }}</button>
    </div>
</div>